.intro-model-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.model {
  &__ethereum {
  }

  &__white-pill {
    transform: rotate(90deg);
    width: 250px;
  }

  &__blue-pill {
    transform: rotate(-90deg);
    width: 250px;
  }
}

//@media (max-width: 2300px) {
//  .model__white-pill {
//    left: 230px;
//  }
//
//  .model__blue-pill {
//    right: 230px;
//    top: 35px;
//  }
//}