.intro-model-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.model-ethereum {
  width: 400px;
  height: 450px;
}

@media (max-width: 1200px) {
  .model-ethereum {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .model-ethereum {
    height: 350px;
  }
}