.benefits-content-wrapper {
  padding: 30px 150px 0;
  background-color: #111111;
}

.benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: white;
  }

  &__description {
    width: 45%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: .3px;
    font-weight: normal;
    color: #888888;
    line-height: 1.5;
  }

  &__benefits-items {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__benefit-item {
    margin-right: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__benefit-item:last-child{
    margin-right: 0;
  }

  &__benefit-icon {
    height: 100px;
  }

  &__benefit-title {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  &__benefit-description {
    text-align: center;
    color: #888888;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5;
  }
}

.benefit-icon-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  .benefits-content-wrapper {
    padding: 30px 100px 0;
  }

  .benefits-section__benefits-items {
    justify-content: space-between;
  }

  .benefits-section__description {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .benefits-content-wrapper {
    padding: 50px 80px 0;
  }

  .benefits-section__description {
    width: 80%;
  }

}

@media (max-width: 850px) {
  .benefits-content-wrapper {
    padding: 50px 30px 0;
  }

}

@media (max-width: 760px) {
  .benefits-content-wrapper {
    padding: 60px 20px 0;
  }
  .benefits-section__description {
    width: 100%;
    margin-bottom: 0;
  }
  .benefits-section__benefits-items {
    flex-direction: column;
    align-items: center;
  }
  .benefits-section__benefit-item {
    margin-top: 30px;
    margin-right: 0;
    width: 100%;
  }
}