.page-header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;

  &__logo {
    padding: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  &__navigation {
    padding: 15px 0;
  }

  &__nav {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: color .5s;
  }

  &__nav:hover {
    color: #2f55d4
  }

  &__nav:last-child {
    margin-right: 0;
  }
}