.game-content-wrapper {
  padding: 100px 150px 100px;
  background-color: #111111;
}

.game-section {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    text-align: start;
    color: white;
  }

  &__description {
    width: 90%;
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: .3px;
    font-weight: normal;
    color: #888888;
    line-height: 1.5;
  }

  &__game-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  &__game-3d-model {
    border-radius: 10px;
    box-shadow: 2px 2px 70px 10px #2f55d4;
    width: 50%;
  }

  &__game-info {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
  }

  &__game-controls {
    display: flex;
    align-items: center;
  }

  &__game-button {
    margin-right: 20px;
    background-color: #2f55d4;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
    color: white;
    cursor: pointer;
    transition: opacity .3s;
  }

  &__game-button:last-child {
    margin-right: 0;
  }

  &__game-button:hover {
    opacity: 0.8;
  }

  &__game-button:active {
    background-color: #2848c0;
  }

  &__game-results {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: scroll;

  }

  &__result {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
}

.circle-1 {
  color: #2f55d4;
}

.circle-2 {
  color: white;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .game-content-wrapper {
    padding: 100px 100px 100px;
  }

  .game-section__description {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .game-content-wrapper {
    padding: 100px 80px 100px;
  }

  .game-section__game-info {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .game-content-wrapper {
    padding: 100px 50px 100px;
  }
}

@media (max-width: 760px) {
  .game-content-wrapper {
    padding: 60px 20px 60px;
  }
  .game-section__game-content {
    flex-direction: column;
    align-items: center;
  }
  .mobile {
    display: flex;
    padding-left: 0;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
  .hide {
    display: none;
  }
  .game-section__description {
    text-align: center;
  }
  .game-section__game-button {
    width: 170px;
  }
  .game-section__game-3d-model {
    width: 100%;
    box-shadow: 2px 2px 40px 10px #2f55d4;
  }
}